In [1]:
import pandas as pd

In [2]:
totals = pd.read_csv('totals.csv').set_index(keys=['name'])
counts = pd.read_csv('counts.csv').set_index(keys=['name'])

In [3]:
totals
counts

,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08,2016-09,2016-10,2016-11,2016-12
name,,,,,,,,,,,,
BURNABY SIMON FRASER U,30,22,30,30,21,21,20,25,20,19,17,16
CALGARY INTL A,31,29,31,30,31,30,31,30,30,30,30,30
GANDER INTL A,31,29,31,30,30,30,31,31,30,31,30,31
HALIFAX INTL A,31,29,31,30,31,30,31,31,29,30,30,31
REVELSTOKE,31,29,31,29,31,29,30,31,30,31,30,29
SHERBROOKE,31,29,31,30,31,30,28,31,30,30,29,31
TORONTO LESTER B. PEARSON INT',31,28,31,30,31,30,31,31,30,31,29,31
VANCOUVER INTL A,30,28,31,30,30,29,30,31,30,31,30,30
YELLOWKNIFE A,31,28,31,30,31,30,31,31,30,30,30,30

In [4]:
year_total = totals.sum(axis=1)
year_total

name
BURNABY SIMON FRASER U            12948
CALGARY INTL A                     5203
GANDER INTL A                     14568
HALIFAX INTL A                    15086
REVELSTOKE                         8451
SHERBROOKE                         8549
TORONTO LESTER B. PEARSON INT'     6378
VANCOUVER INTL A                  13148
YELLOWKNIFE A                      2234
dtype: int64

In [5]:
lowest_year_total_index = year_total.idxmin()
lowest_year_total_index #Answer for question 1

'YELLOWKNIFE A'

In [6]:
all_locations_month_total = totals.sum(axis=0)
all_locations_month_total

2016-01     7695
2016-02     7637
2016-03     8176
2016-04     4833
2016-05     5699
2016-06     5360
2016-07     6569
2016-08     5401
2016-09     6233
2016-10    11752
2016-11     8827
2016-12     8383
dtype: int64

In [7]:
all_locations_observe_count = counts.sum(axis=0)
all_locations_observe_count

2016-01    277
2016-02    251
2016-03    278
2016-04    269
2016-05    267
2016-06    259
2016-07    263
2016-08    272
2016-09    259
2016-10    263
2016-11    255
2016-12    259
dtype: int64

In [8]:
all_locations_average_precipitation = all_locations_month_total/all_locations_observe_count

In [9]:
all_locations_average_precipitation #Answer for question 2

2016-01    27.779783
2016-02    30.426295
2016-03    29.410072
2016-04    17.966543
2016-05    21.344569
2016-06    20.694981
2016-07    24.977186
2016-08    19.856618
2016-09    24.065637
2016-10    44.684411
2016-11    34.615686
2016-12    32.366795
dtype: float64

In [10]:
counts_total = counts.sum(axis=1)
counts_total

name
BURNABY SIMON FRASER U            271
CALGARY INTL A                    363
GANDER INTL A                     365
HALIFAX INTL A                    364
REVELSTOKE                        361
SHERBROOKE                        361
TORONTO LESTER B. PEARSON INT'    364
VANCOUVER INTL A                  360
YELLOWKNIFE A                     363
dtype: int64

In [11]:
city_average_presi = year_total / counts_total
city_average_presi #Answer for question 3

name
BURNABY SIMON FRASER U            47.778598
CALGARY INTL A                    14.333333
GANDER INTL A                     39.912329
HALIFAX INTL A                    41.445055
REVELSTOKE                        23.409972
SHERBROOKE                        23.681440
TORONTO LESTER B. PEARSON INT'    17.521978
VANCOUVER INTL A                  36.522222
YELLOWKNIFE A                      6.154270
dtype: float64